<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout demo0002 -- Grid Layout Use Case</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <table class="grid table table-hover"><thead><tr><th>主播姓名</th><th>花瓣 ID</th><th>主播头衔</th><th>操作</th></tr></thead><tbody><tr><td>墦索</td><td>15369078</td><td>自由插画师，毕业于中国美术学院影视系</td><td><a href="/admin/anchor/edit/9">编辑</a></td></tr><tr><td>GGG</td><td></td><td>C</td><td><a href="/admin/anchor/edit/8">编辑</a></td></tr><tr><td>FFF</td><td></td><td>C</td><td><a href="/admin/anchor/edit/7">编辑</a></td></tr><tr><td>EEE</td><td></td><td>C</td><td><a href="/admin/anchor/edit/6">编辑</a></td></tr><tr><td>DDD</td><td></td><td>C</td><td><a href="/admin/anchor/edit/5">编辑</a></td></tr><tr><td>CCC</td><td></td><td>C</td><td><a href="/admin/anchor/edit/4">编辑</a></td></tr><tr><td>BBB</td><td></td><td>2</td><td><a href="/admin/anchor/edit/3">编辑</a></td></tr><tr><td>AAA</td><td></td><td>C</td><td><a href="/admin/anchor/edit/2">编辑</a></td></tr></tbody></table>

</body>
</html>