#.gitignore

# Mac
.DS_Store

# img
*.png
*.jpg
*.jpeg
*.gif
*.svg

*.pdf
*.txt

# SASS
.sass-cache/
*.css.map

*.zip



blog/
# frames like bootstrap、amazeui...
frame/
goods/
history/
# libs like jquery.js, Three.js, react.min.js, etc...
lib/
# like img, fonts, color, etc...
res/
tucao/

# utility part
utility/Editor/


# nav-map part
package-lock.json

*.css
css/
fonts/
img/
node_modules/
dist/