#.gitignore

# Mac
.DS_Store

# img
*.png
*.jpg
*.gif
*.svg

*.pdf
*.txt

# SASS
.sass-cache/
*.css.map

*.zip



blog/
# frames like bootstrap、amazeui...
frame/
goods/
history/
# libs like jquery.js, Three.js, react.min.js, etc...
lib/
# like img, color, etc...
resource/
tucao/

