.move-up-appear,
.move-up-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(.08,.82,.17,1);
}

.move-up-leave {
  animation-timing-function: cubic-bezier(.6,.04,.98,.34);
}

.move-up-appear,
.move-up-enter,
.move-up-leave {
  animation-duration: .2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.move-up-appear.move-up-appear-active,
.move-up-enter.move-up-enter-active {
  animation-name: moveUpIn;
  animation-play-state: running;
}

.move-up-leave.move-up-leave-active {
  animation-play-state: running;
}

@keyframes MessageMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
    padding: 8px;
  }

  to {
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}

@keyframes moveUpIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0
  }

  to {
    transform-origin: 0 0;
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes moveDownIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(100%);
    opacity: 0
  }

  to {
    transform-origin: 0 0;
    transform: translateY(0);
    opacity: 1
  }
}
