<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flex practice</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="spe.css">
</head>
<body>
  <div id="btn"></div>
  <div class="outer">
    <div id="g00" class="inner">
      <!-- #g00$.box*5>.item -->
      <div id="g001" class="box">
        <div class="item"></div>
      </div>
      <div id="g002" class="box">
        <div class="item"></div>
      </div>
      <div id="g003" class="box">
        <div class="item"></div>
      </div>
      <div id="g004" class="box">
        <div class="item"></div>
      </div>
      <div id="g005" class="box">
        <div class="item"></div>
      </div>
    </div>
  </div>
  <div class="outer">
    <div id="g01" class="inner">
       <div id="g011" class="box">
         <div class="item"></div>
       </div>
       <div id="g012" class="box">
         <div class="item"></div>
       </div>
       <div id="g013" class="box">
         <div class="item"></div>
       </div>
       <div id="g014" class="box">
         <div class="item"></div>
       </div>
       <div id="g015" class="box">
         <div class="item"></div>
       </div>
    </div>
  </div>
  <div class="outer">
    <div id="g02" class="inner">
       <div id="g021" class="box">
         <div class="item"></div>
       </div>
       <div id="g022" class="box">
         <div class="item"></div>
       </div>
       <div id="g023" class="box">
         <div class="item"></div>
       </div>
       <div id="g024" class="box">
         <div class="item"></div>
       </div>
       <div id="g025" class="box">
         <div class="item"></div>
       </div>
    </div>
  </div>
  <!-- .outer>$g04.inner>#g04$.box*5>.item  -->
  
  <script src="base.js"></script>
</body>
</html>