$btnBgColor: $black;
$btnFontColor: #fff;

.btn {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  color: $btnFontColor;
  padding: 8px 30px;
  height: 32px;
  line-height: 32px;
  background: $btnBgColor;
  // box-shadow: 0 0 15px 2px #e2d313, #e2d313 0 0 11px 3px inset;
  cursor: pointer;
  outline: none;

  span {
    position: relative;
  }

  &.sm {
    padding: 0 15px;
    font-size: 10px;
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
  }
  &.lg {
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-size: 16px;
  }

  &.red {
    border-color: $red;
  }
  &.orange {
    border-color: $orange;
  }
  &.yellow {
    border-color: $yellow;
  }
  &.green {
    border-color: $green;
  }
  &.blue {
    border-color: $blue;
  }
  &.purple {
    border-color: $purple;
  }
}

.btn.flow {
  position: relative;
  border-color: var(--borderColor);
  background: var(--bgColor);
  color: var(--fontColor);

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    background-image: linear-gradient(to left, rgba(0,0,0,0), var(--flowColor), rgba(0,0,0,0));
    background-size: 200%;
    opacity: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
  }

  &:hover {
    &:after {
      opacity: 1;
      filter: blur(15px);
      animation: animateGlow 2s linear infinite;
    }
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 200% 50%; } }
