body {
  background: #333;
}
#et {
/*  position: absolute;
  top: 20%;
  left: 40%;
  display: block;
  width: 40px;
  height: 40px;*/
}

#et:before,
#et:after {
  content: '';
  position: absolute;
  top: 20%;
  left: 40%;
  display: block;
  width: 40px;
  height: 40px;

  /*border-radius: 20px;*/
  box-shadow: inset 0 0 0 1px #fff;
  /*background-color: #fff;*/
  /*background-clip: border-box;*/

  animation: clipMe 4s linear 3;
  /*clip: rect(0px, 40px, 1px, 0px); 设置 fill-mode 就可以省略这行了*/
  animation-fill-mode: forwards;
}

#et:after {
  transform: rotate(180deg);
}

#et:hover {
  animation-play-state:paused;
}

@keyframes clipMe {
/*  to {
    clip: rect(39px, 39px, 40px, 0px);
  }*/
  0%, to {
    clip: rect(0px, 40px, 1px, 0px);
  }
  25% {
    clip: rect(0px, 1px, 40px, 0px);
  }
  50% {
    clip: rect(39px, 40px, 40px, 0px);
  }
  75% {
    clip: rect(0px, 40px, 40px, 39px);
  }
}
