#lg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #c33;
  animation: flash 0.1s linear infinite;
  /*background: -webkit-linear-gradient(left, #ccc, #333);*/
}

@-webkit-keyframes flash {
  /*0%, 100% { background: -webkit-linear-gradient(left, #ccc, #333) }*/
  /*50% { background: -webkit-linear-gradient(left, #f00, #0f0)  }*/
  0%, 100% {
    background: #000;
  }

  50% {
    /*transform: rotate(180deg);*/
    background: #fff;
  }
}