body {
  background: #000;
}

#et {
  margin: 50px auto;
  margin-top: 200px;
  width: 256px;
  height: 256px;
  border-radius: 10px;
  background: conic-gradient(red, magenta, blue, cyan, lime, yellow, red);
}
@supports (background: paint(id)) {
  #el {
    background: paint(conic-gradient, red magenta blue cyan lime yellow red);
  }
}