.progress-bg {
    position: relative;
    width: 300px;
    height: 10px;
    border-radius: 100px;
    background-color: #108ee9;
    transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
    &:before {
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-radius: 10px;
        animation: progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite;
    }
}

@keyframes progress-active {
    0% {
        opacity: .1;
        width: 0
    }

    20% {
        opacity: .5;
        width: 0
    }

    to {
        opacity: 0;
        width: 100%
    }
}
  