<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"><!-- for IE -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MineCraft</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="../css/base.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- JavaScript -->
  </head>
  <body>
    <div class="container">
      <div id="rsq"></div>
      <!-- <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>

      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>

      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div>
      <div id="rsq"></div> -->

    </div> <!-- /container -->

  </body>
</html>

