<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="./test5.css">
</head>
<body>
  <!-- <header>
    <hgroup>
      <h1></h1>
      <h2>""</h2>
      <h3></h3>
      <h4></h4>
      <h5></h5>
      <h6></h6>
    </hgroup>
  </header> -->

  <ruby>和<rp>(</rp><rt>hé</rt><rp>)</rp>谐<rp>(</rp><rt>xié</rt><rp>)</rp>社<rp>(</rp><rt>shè</rt><rp>)</rp>会<rp>(</rp><rt>huì</rt><rp>)</rp></ruby>

  <!-- div.user>div.user__avatar+div.user__description>h2.user_username{John Doe}+p.user__excerpt{I'm John Doe...} -->
  <div class="user">
    <div class="user__avatar"></div>
    <div class="user__description">
      <h2 class="user_username">John Doe</h2>
      <p class="user__excerpt">I'm John Doe...</p>
    </div>
  </div>
  <div class="user">
    <div class="user__avatar"></div>
    <div class="user__description">
      <h2 class="user_username">Harry Potter</h2>
      <p class="user__excerpt">I'm Harry Potter ... with a really long description</p>
    </div>
  </div>

</body>
</html>
