.color-block {
  width: 100%;
  height: 60px;
  margin-top: 6px;
}

#red0001 {
  background: #f55;

}
#red0002 {
  background: #f66;
}
#red0003 {
  background: #fcc;
}
#red0004 {
  background: #F88E8B;
}
#red0005 {
  background: #e75b8d;
}
#red0006 {
  opacity: 0.7;
  background: #e75b8d;
}
#red0007 {
  background: #ed4e2a;
}
#purple0001 {
  background: #7e3794;
}
#blue0001 {
  background: #428bca;
}
#blue0002 {
  background: #cccfff;
}
#blue0003 {
  background: #11a9cc;
}
#green0001 {
  background: yellowgreen;
}
#green0002 {
  background: #a0d468;
}
#green0003 {
  background: #4CAF50;
}
#yell0001 {
  background: #fff4c8;
}
#yell0002 {
  background: orange;
}
#yell0003 {
  background: rgb(235, 205, 86);
}
