
body {
  text-align: center;
  font-size: 62.5%;
  /*background: #f4c042;*/
  /*background-color: #000;*/
  /*background: repeating-radial-gradient(black, black 5px, white 5px, white 10px);*/
  /*background: repeating-linear-gradient(-45deg, red, red 5px, white 5px, white 10px);*/

}

.font {
  position: relative;
  /*top: 200px;*/
  line-height: 1.8;
  /*background: -webkit-gradient(to right, 0% 0%, 0% 100%, from(#DEBB47), to(#248F24));*/
  background: linear-gradient(to right, blue, white 80%, orange);
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
}

.bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
       -o-transition: all 0.5s ease-out 0s;
          transition: all 0.5s ease-out 0s;
  /*width: 1920px;*/
  /*height: 1440px;*/
  /*background-image: no-repeat;*/
}


.switch {
  top: 400px;
  left: 400px;
  /*display: none;*/
  opacity: 0.0;
  border-radius: 20%;
  transform: scale(0.3);
}

#bg1 {
  /*display: none;*/
}

#btn-switch {
  /*cursor: alias;*/
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  width: 60px;
  height: 36px;
  border-radius: 6px;
  /*background: #000;*/
  background: #fff;
  color: #000;
  border-color: #000;
  -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
       -o-transition: all 0.5s ease-out 0s;
          transition: all 0.5s ease-out 0s;
}

.th-btn {
  font-weight: bold;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 14px system-ui;

  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

#btn-switch:hover {
  box-shadow: 0px 0px 7px 3px #222;
  /*box-shadow: 0px 0px 7px 3px #fff;*/
}

