#info {
  position: absolute;
  margin: 0;
  right: 10px;
  top: 10px;
  color: #fff;
  text-align: center;
  line-height: 38px;
  background: #000;
  border-radius: 4px;
  width: 64px;
  height: 38px;
  -webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
       -o-transition: all 0.5s ease-out 0s;
          transition: all 0.5s ease-out 0s;
}

#info:hover {
  box-shadow: 0 0 2px 1px #000;
}

#bg-wrap {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  overflow: hidden;
}

.bg-back,
.bg-medium,
.bg-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.bg-back {
  /*background-image: url(../img/grass-back.svg);*/
  /*animation: lines-front 30000ms linear 0s infinite;*/
}

#bg-back-two {
  /*height: 20.7%;*/
  left: 100%;
}

.bg-medium {
  /*background-image: url(../img/grass-medium.svg);*/
  /*animation: lines-front 20000ms linear 0s infinite;*/
}

#bg-medium-two {
  left: 100%;
  /*height: 12.732%;*/
}

.bg-front {
  background-image: url(../img/grass-front.svg);
  /*animation: lines-front 3200ms linear 0s infinite;*/
  transform: translateX(63.9%);
}

#bg-front-two {
  left: 63.9%;
}

#bg-front-three {
  left: -63.9%;
}

#bg-front-refer {
  animation: none;
  transform: translateX(0%);
}
@-webkit-keyframes lines-front {
  0% {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(63.9%);
       -moz-transform: translateX(63.9%);
        -ms-transform: translateX(63.9%);
         -o-transform: translateX(63.9%);
            transform: translateX(63.9%);
  }
}