.et-block {
  width: 200px;
  height: 120px;
  background: #cfc;
  overflow: hidden;
}

.fade-in {
  animation: et-ani-fadeIn 800ms linear 2s backwards;

}


@-webkit-keyframes et-ani-fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*
@keyframes identifier {
  from {  }
  to {  }
}*/