<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout demo0003 -- Grid Layout Use Case 02</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <header class="item item-a">header</header>
    <main class="item item-b">main</main>
    <div class="item item-e">empty</div>
    <sidebar class="item item-c">sidebar</sidebar>
    <footer class="item item-d">footer</footer>
  </div>

  <script src="base.js" type="text/javascript"></script>
</body>
</html>