.wrap {
  position: absolute;
  top: 40%;
  left: 30%;
}

.box {
  position: relative;
  display: flex;
}

.item {
  height: 20px;
  width: 60px;
  background: #333;
  margin-left: 12px;
  transition: .6s cubic-bezier(.3, 0, 0, 1.3);
  align-self: flex-end;
}