body {
  margin: 0;
  background: #333;
}

#et {
  margin: 50px auto;
  margin-top: 200px;
  width: 256px;
  height: 256px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, deeppink, transparent 50%, orangered),
              linear-gradient(to top right, yellow, transparent 50%, cyan) #888;
  // background: linear-gradient(to top right, yellow, transparent 50%, cyan) #888,
              // linear-gradient(to bottom right, deeppink, transparent 50%, orangered);
}
@supports (background: paint(id)) {
  #el {
    background: paint(corners-gradient, deeppink, cyan, orangered, yellow);
  }
}