<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <!-- .outer>.inner -->
  <div class="outer">
    <div class="inner">
      <section class="abstracts">
        <article class="item">
          <div class="c1"></div>
          <div class="c2"></div>
        </article>
        <article class="item">
          <div class="c1"></div>
          <div class="c2"></div>
        </article>
        <article class="item">
          <div class="c1"></div>
          <div class="c2"></div>
        </article>
        <article class="item">
          <div class="c1"></div>
          <div class="c2"></div>
        </article>
        <article class="item">
          <div class="c1"></div>
          <div class="c2"></div>
        </article>
        <article class="item">
          <div class="c1"></div>
          <div class="c2"></div>
        </article>
      </section>
      <!-- section.abstracts*2>article.item*3>.c1+.c2 -->
    </div>
  </div>
</body>
</html>