<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Nothing.">

  <title>Test Page of Flexbox</title>

  <link rel="stylesheet" type="text/css" href="./test3.css">
</head>
<body class="holy-grail">

  <header class="holy-grail__header"></header>

  <main class="holy-grail__body">
    <div class="holy-grail__content"></div>
    <div class="holy-grail__sidebar holy-grail__sidebar--first"></div>
    <div class="holy-grail__sidebar holy-grail__sidebar--second"></div>
  </main>

  <footer class="holy-grail__footer"></footer>

</body>
</html>