<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Nothing.">

  <title>Test Page of Flexbox</title>

  <link rel="stylesheet" type="text/css" href="./base.css">
</head>
<body onload="">

  <div class="grid">
    <div class="grid_row">
      <div class="grid_item">
        <div class="grid">
          <div class="grid_row">
            <div class="grid_item">Nested 1</div>
            <div class="grid_item">Nested 2</div>
          </div>
        </div>
      </div>
      <div class="grid_item">2</div>
    </div>
    <div class="grid_row">
      <div class="grid_item">1</div>
      <div class="grid_item">2</div>
      <div class="grid_item">3</div>
    </div>
    <div class="grid_row">
      <div class="grid_item">1</div>
      <div class="grid_item">2</div>
      <div class="grid_item">3</div>
      <div class="grid_item">4</div>
    </div>
  </div>

</body>
</html>