<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout demo0000 -- table & table-cell</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="group1" class="wrap">
    <div>
      <h1>苹果</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
    <div>
      <h1>香蕉</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
    <div>
      <h1>水蜜桃</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
    <div>
      <h1>凤梨</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
  </div>

  <div id="group2" class="wrap">
    <div>
      <h1>苹果</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
    <div>
      <h1>香蕉</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
    <span class="tr"></span>
    <div>
      <h1>水蜜桃</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
    <div>
      <h1>凤梨</h1>
      <p>苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。苹果是一种低热量食物，每100克只产生60千卡热量。苹果中营养成分可溶性大，易被人体吸收，故有“活水”之称。其有利于溶解硫元素，使皮肤润滑柔嫩[1]  。据说“每天一苹果，医生远离我”。</p>
    </div>
  </div>

</body>
</html>