.box {
  /*position: relative;*/
  /*margin: 0 auto;*/
  /*margin-top: 200px;*/
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.f {
  /*position: absolute;*/
  /*width: 400px;*/
  height: 60px;
  transition: 1.0s ease-out;
  background:-webkit-gradient(linear, left 0 , right 0, from(#428bfa), to(#f12));
  width: 800px;
  transform: translate(-400px);
}

.f:hover {
  transform: translate(0px);
}

/*.b {
  background: #f63;
  z-index: 9998;
}*/
