// g00
#g00 {
    display: flex;
    flex-direction: row;
}

#g001 {
    justify-content: flex-start;
}

#g002 {
    justify-content: center;
}

#g003 {
    justify-content: flex-end;
}

#g004 {
    justify-content: space-between;
}

#g005 {
    justify-content: space-around;
}


// g01
#g01 {
    display: flex;
    flex-direction: row;
}

#g011,
#g012,
#g013,
#g014,
#g015 {
    align-items: center;
}

#g011 {
    justify-content: flex-start;
}

#g012 {
    justify-content: center;
}

#g013 {
    justify-content: flex-end;
}

#g014 {
    justify-content: space-between;
}

#g015 {
    justify-content: space-around;
}