body {
    transition: all 2s ease-in-out;
}

body.scale {
    transform: scale(0.2);
}

#btn {
    position: fixed;
    top: 22px;
    left: 22px;
    width: 60px;
    height: 22px;
    background: #38f;
}

.outer {
    padding: 0 4vw;
    box-sizing: border-box;
    border: 1px dashed #28f;
}

.inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    border: 1px dashed #f82;
    &:after {
        margin: 12px;
        width: 20%;
        height: 150px;
        line-height: 150px;
        text-align: center;
    }
}

$boxSize: 150px;
.box {
    margin: 12px;
    display: flex;
    width: $boxSize;
    height: $boxSize;
    background: #d7d7d7;
    border-radius: 4px;
    box-sizing: border-box;
}

$itemSize: 32px;
.item {
    margin: 9px;
    width: $itemSize;
    height: $itemSize;
    background: #333;
    border-radius: 50%;
    box-sizing: border-box;
}