.hide-sidenav {
  transform: translate(-230px, 0)!important;
}
.show-sidenav {
  transform: translate(0, 0)!important;
}
.sidenav-mark {
  background: rgba(0,0,0,0.75);
  height: 100%;
  left: 0;
  position: fixed;
  top: 60px;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 530ms;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-delay: 0s;
  z-index: 199;
}

$bgColor: #171717;

.sidenav{
  -webkit-overflow-scrolling: touch;
  width: 230px;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  bottom: -100px;
  background-color: $bgColor;
  padding: 31px 0;
  color: #ccc;
  @include mq-tablet() {
    width: 180px;
  }
  @include mq-mobile() {
    transform: translate(-230px, 0);
    transition: transform 430ms cubic-bezier(0.3,0,0,1);
  }
  .btn-mobile-close {
    display: none;
    position: absolute;
    top: 0px;
    padding-top: 18px;
    padding-left: 12px;
    width: 180px;
    height: 40px;
    @include mq-mobile() {
      display: block;
    }
  }
  .copyright {
    display: block;
    text-align: center;
    color: #686868;
    font-size: 12px;
    padding-top: 12px;
    &:hover {
      color: #fff;
    }
  }
  .logo {
    position: relative;
    display: block;
    text-align: center;
    img {
      width: 114px;
      display: block;
      margin: 0 auto;
      z-index: 2;
      // animation: App-logo-spin infinite 20s, linear;
      transition: all .36s ease-in-out;
      &:hover {
        transform: rotate(180deg);
      }
      &.christmas {
        position: absolute;
        z-index: 3;
        top: -11px;
        left: 76px;
        width: 42px;
        height: auto;
        @include mq-tablet() {
          top: -11px;
          left: 51px;
        }
      }
    }
  }
  .site-description {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: menlo;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
  .nav-item {
    padding: 7px;
    padding-left: 40px;
    background-color: $bgColor;
    border-top: 2px solid #1f1f1f;
    &:last-child {
      border-bottom: 2px solid #2e2e2e;
    }
    &:hover {
      background-color: #fff;
      h1, p {
        color: #000;
      }
      h1 {
        text-shadow: 0 0 10px #000;
      }
    }
    &.active {
      background-color: #fff;
      h1, p {
        color: #000;
      }
      h1 {
        text-shadow: 0 0 10px #000F;
      }
      & + .nav-tags {
        display: block;
        min-height: 160px;
      }
    }
    h1 {
      display: block;
      margin: 0;
      padding: 0;
      color: #11aaea;
      font-size: 14px;
      font-weight: 700;
      text-shadow: 0 0 5px #228DFF, 0 0 10px #228DFF;
    }
    p {
      margin:0;
      padding: 0;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      font-family: menlo;
      overflow: hidden;
      // text-overflow: "";
      text-overflow: ellipsis;
      white-space: nowrap;
      small {
        // width: 7rem;
        height: 1.4rem;
        opacity: 0.5;
        margin-left: 2rem;
        font-size: 50%;
      }
    }
  }
  .nav-tags {
    display: none;
    list-style: none;
    padding: 0;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden; 
    margin: 0;
    transition: height .3s ease-in-out;

    @include mq-mobile() {
      display: none!important;
    }
    @include mq-tall() {
      max-height: 400px;
    }
    @include mq-medium() {
      max-height: 320px;
    }
    @include mq-small() {
      max-height: 200px;
    }
    @include mq-smallest() {
      max-height: 0;
    }
    .active {
      background-color: #222;
      a {
        color: #fff;
      }
    }
    li {
      padding-right: 0;
      a {
        display: block;
        padding: 9px;
        padding-left: 60px;
        border-left: 0 solid transparent;
        color: #87ceeb;
        font-size: 12px;
        text-decoration: none;
        transition: border-width 0.5s, border-color 3s, background-image 3s;
        &:hover {
          color: #fff;
          border-left-width: 12px;
          border-color: #ff1177;
          background-image: linear-gradient(105deg, transparent 40%, #ff117799 100%);
        }
        .csz {
          font-size: 16px;
          margin-right: 8px;
        }
      }
      &:nth-child(7n+2):hover a {
        border-color: #FF9900;
        background-image: linear-gradient(105deg, transparent 40%, #FF990099 100%);
      }
      &:nth-child(7n+3):hover a {
        border-color: #FFDD1B;
        background-image: linear-gradient(105deg, transparent 40%, #FFDD1B99 100%);
      }
      &:nth-child(7n+4):hover a {
        border-color: rgb(26, 206, 32);
        background-image: linear-gradient(105deg, transparent 40%, rgba(26, 206, 32, 0.6) 100%);
      }
      &:nth-child(7n+5):hover a {
        border-color: rgb(168, 240, 170);
        background-image: linear-gradient(105deg, transparent 40%, rgba(168, 240, 170, 0.6) 100%);
      }
      &:nth-child(7n+6):hover a {
        border-color: #228DFF;
        background-image: linear-gradient(105deg, transparent 40%, rgba(34, 141, 255, 0.6) 100%);
      }
      &:nth-child(7n+0):hover a {
        border-color: #BA01FF;
        background-image: linear-gradient(105deg, transparent 40%, #BA01FF99 100%);
      }
    }
  }
}

.sidenav-ad {
  font-size:12px;
  color:#686868;
  display:block;
  text-align: center;
  padding-top: 12px;
  border-top: 1px solid #1f1f1f;
  &:hover {
    color: #fff;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}