body {
  background-color: #050510;
}

.main-container {
  position: relative;
}

#canvasWrapper {
  position: absolute;
  // top: -72px;
  z-index: 0;
  width: 100%;
  height: 560px;
}

canvas {
  display: inline-block;
  vertical-align: baseline;
}